{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-30" style="height: 30px;">
        <form action="/index" method="GET">
            <input class="backbutton" type="submit" value="&#9665; Back">
        </form>
    </div>
</div>
<div class="row">   
        {% for sub_category in sub_categories %}
        <div class="col-10"></div>
        <div class="col-80">
            <form action="/sub_category" method="POST">
                <input hidden type="text" value="{{ sub_category.id }}" name="selected_sub_category_id">
                <input hidden type="text" value="{{ sub_category.name }}" name="selected_sub_category_name">
                <input class="buttonlist" type="submit" value="{{ sub_category.name }}">
            </form>
        </div> 
        <div class="col-10">   
            {% if edit_mode == True %}
                <table><tr><td class="editbuttons_cell">    
                <form action="/data_maintenance" method="POST">
                    <input hidden type="text" value="{{ sub_category.id }}" name="selected_id">
                    <input hidden type="text" value="{{ sub_category.name }}" name="selected_name">
                    <input hidden type="text" value="{{ selected_main_category_id }}" name="selected_parent_id">
                    <input hidden type="text" value="sub-category" name="selected_type">
                    <input hidden type="text" value="edit" name="action">
                    <input class="editbutton" type="submit" value="&#9998;">
                </form>
                </td><td>
                <form action="/data_maintenance" method="POST">
                    <input hidden type="text" value="{{ sub_category.id }}" name="selected_id">
                    <input hidden type="text" value="{{ sub_category.name }}" name="selected_name">
                    <input hidden type="text" value="{{ selected_main_category_id }}" name="selected_parent_id">
                    <input hidden type="text" value="sub-category" name="selected_type">
                    <input hidden type="text" value="delete" name="action">
                    <input class="editbutton" type="submit" value="&#10006;">
                </form>
                </td></tr></table>
            {% endif %}    
        </div>     
        
        {% endfor %}
        {% if edit_mode == True %}
            <div class="col-90"></div>
            <div class="col-10">
                <form action="/data_maintenance" method="POST">
                    <input hidden type="text" value="" name="selected_id">
                    <input hidden type="text" value="" name="selected_name">
                    <input hidden type="text" value="{{ selected_main_category_id }}" name="selected_parent_id">
                    <input hidden type="text" value="sub-category" name="selected_type">
                    <input hidden type="text" value="add" name="action">
                    <input class="updatebutton" type="submit" value="&#10010; Add new">
                </form>
            </div>
        {% endif %} 
    
</div>


{% endblock %}

