{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-80">
        <table>
        <tr><td></td><td>{{ question_text|safe }}</td></tr>
        </table>
        <hr>
        <form action="/question" method="POST">
            <table>
                {% for answer_id in answers_order %}
                    <tr><td class="answer_col_char"><b>{{ answers_char[loop.index] }}</b></td>
                        <td class="answer_col_input"><input  type="radio" value="{{ answer_id }}" name="selected_answer"></td>
                        <td>{{ answers[answer_id].answer|safe }}</td></tr>
                    <tr><td></td><td></td><td><hr></td></tr>
                {% endfor %}    
                <tr><td></td><td></td><td>
                    <input class="actionbutton" type="submit" value="Submit">
                </td></tr>
            </table>
            <input hidden type="text" value="{{ question_counter }}" name="question_counter">
        </form>
        <p></p>
    </div> 

</div>

{% endblock %}

