{% extends "base.html" %}

{% block content %}

<div class="row">

    {% if main_category_visibility in "hide_main_categories" %}
    <div class="hide_main_categories">
    {% endif %}
        <div class="col-80">
            {% for main_category in main_categories %}
                <form action="/main_category" method="POST">
                    <input hidden type="text" value="{{ main_category.id }}" name="selected_main_category_id">
                    <input hidden type="text" value="{{ main_category.name }}" name="selected_main_category_name">
                    <input class="buttonlist" type="submit" value="{{ main_category.name }}">
                </form>
            {% endfor %}
        </div>
    {% if main_category_visibility in "hide_main_categories" %}
    </div>
    {% endif %}

    {% if sub_category_visibility in "hide_sub_categories" %}
    <div class="hide_sub_categories">
    {% endif %}
        <div class="col-80">
            {% for sub_category in sub_categories %}
                <form action="/sub_category" method="POST">
                    <input hidden type="text" value="{{ sub_category.id }}" name="selected_sub_category_id">
                    <input hidden type="text" value="{{ sub_category.name }}" name="selected_sub_category_name">
                    <input class="buttonlist" type="submit" value="{{ sub_category.name }}">
                </form>
            {% endfor %}
        </div>
    {% if sub_category_visibility in "hide_sub_categories" %}
    </div>
    {% endif %}    

</div>

{% endblock %}

