<div class="navbar">
    <a href="/">Home</a>
    {% if edit_mode == True %}
        <a class="edit_mode_active" href="/editmode">Edit mode <input type="checkbox" checked readonly></a>
    {% else %} 
        <a href="/editmode">Edit mode <input type="checkbox" readonly></a>
    {% endif %}   
</div>
<div class="row">
    <div class="col-80">
        <div class="header">
            {{ header_path }}
        </div>
    </div>
    <div class="col-20">
        <div class="question_counter">
            {% if question_counter is defined %}
                {{ question_counter }}/{{ question_count }}
            {% endif %}    
        </div>    
    </div>    
</div>
