<div class="navbar">
    <a href="/">Home</a>
    {% if passwd_input_visible == True %}
    <div class="passwd_field">
        <form action="/editmode" method="POST">
            <div class="white_label">Password:</div>
            <input required type="password" name="passwd_input" autofocus>
            <input type="submit" value="OK">
            <input type="button" onclick="window.location='/editmode';return false;" value="Cancel">
        </form>
    </div>
    {% endif %} 
    <div class="edit_mode">
    {% if edit_mode == True %}
        <a title="Edit mode" class="edit_mode_active" href="/editmode">&#128275;</a>
    {% else %} 
        <a title="Edit mode" href="/editmode">&#128274;</a>
    {% endif %}   
    </div>
</div>
<div class="row">
    <div class="col-80">
        <div class="header">
            {{ header_path }}
        </div>
    </div>
    <div class="col-20">
        <div class="question_counter">
            {% if question_counter is defined %}
                {{ question_counter }}/{{ question_count }}
            {% endif %}    
        </div>    
    </div>    
</div>
